<div class="container">

  <h3>New Post</h3>

  <form
    name="postForm"
    ng-submit="createViewVm.onSubmit(createViewVm.formData)"
    novalidate
  >

    <div class="form-group">
      <label
        for="title"
        ng-bind="'Title'"
      ></label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        ng-model="createViewVm.formData.title"
        autofocus
        required
      >
    </div>

    <div class="form-group">
      <label
        for="body"
        ng-bind="'Message'"
      ></label>
      <textarea
        id="body"
        name="body"
        class="form-control"
        style="resize: vertical;"
        rows="8"
        ng-model="createViewVm.formData.body"
        required
      ></textarea>
    </div>

    <div class="form-group text-right">
      <button
        type="submit"
        class="btn btn-success"
        ng-disabled="postForm.$pristine || postForm.$invalid"
      >
        <!--
        <span
          class="glyphicon glyphicon-ok"
          aria-hidden="true"
        ></span>
        -->
        {{ 'Save' }}
      </button>
      <button
        type="button"
        class="btn btn-warning"
        ui-sref="app.view.posts.list"
      >
        <!--
        <span
          class="glyphicon glyphicon-ok"
          aria-hidden="true"
        ></span>
        -->
        {{ 'Discard' }}
      </button>
    </div>

  </form>

  <pre ng-bind="createViewVm.formData | json"></pre>

</div>
